<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>My bad ideas</p>
</section>

<section class="row">
  <article class="column">
    <h2><%= @post.title %></h2>
    <%= raw @post.body %>
  </article>
</section>
